* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(212, 244, 221, 0.6235294118);
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

p {
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 2.5rem;
  color: #5B4E77;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 15px;
  margin: 0 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  color: #5B4E77;
  padding: 15px;
}

.text-justify {
  text-align: justify;
}

.header {
  height: 75vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dey3fcafu/image/upload/c_scale,w_1714/v1666054864/Hilario/abrazo-hombre-perro2_kmiqst.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header__title {
  font-size: 5.1rem;
  font-family: "Indie Flower", cursive;
  color: #0E7C7B;
  width: auto;
  text-shadow: #D4F4DD 5px 6px 1px;
  font-weight: bold;
}

@media (min-width: 340px) and (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
/* --- NAVBAR / HAMBURGUESA --- */
nav div.container {
  background-color: rgba(212, 244, 221, 0.6235294118);
}

.navbar.fixed-top {
  background-color: rgba(180, 173, 234, 0.8431372549);
}

.nombre-page {
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.nav-item {
  font-family: "Antonio", sans-serif;
  font-size: 1.3rem;
}
.nav-item :hover {
  color: #0E7C7B;
}

.navbar-toggler {
  border: none;
}

.offcanvas-header {
  background-color: rgba(180, 173, 234, 0.8431372549);
}

@media (max-width: 991px) {
  .offcanvas-body {
    background-color: rgba(212, 244, 221, 0.6235294118);
  }
}
.donacion__background {
  background-color: #0E7C7B;
  height: auto;
  text-align: center;
  font-size: 1rem;
  color: white;
  font-family: "makuta", sans-serif;
  border-radius: 600px 5px/50px 30px;
  border: #44344F;
  border-color: 43281C;
  line-height: 25px;
  width: 50%;
}

@media (max-width: 768px) {
  .donacion__background {
    font-size: 0.8rem;
  }
}
h4 {
  margin: 10px;
  text-decoration: underline;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.porque__adoptar {
  width: 80%;
}

.imagen-index {
  margin: auto;
  width: 50%;
  max-width: 400px;
}

hr {
  background-color: rgba(180, 173, 234, 0.8431372549);
  width: 80%;
  margin: auto;
  height: 5px;
}

h2 span {
  transform: translate(5%);
}

.forma-parte {
  width: 30%;
  height: auto;
  margin: 150px auto;
  border: 1px #B4ADEA solid;
  box-shadow: #B4ADEA 0px 0px 30px 30px;
  background-color: #B4ADEA;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
}
.forma-parte__title {
  text-align: center;
  width: 90%;
  align-self: center;
  font-size: 1.2rem;
  color: #D4F4DD;
}
.forma-parte__text {
  text-align: center;
  margin: 8px auto;
  width: 80%;
  font-size: 1rem;
}
.forma-parte__link {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  border: #44344F solid;
  width: 30%;
  align-self: center;
}
.forma-parte__link span {
  color: #D4F4DD;
}
.forma-parte__link:hover {
  box-shadow: 1px 9px 9px rgba(212, 244, 221, 0.6235294118);
  transform: scale(1.2);
  transition: 0.5s;
}

.familias__h3 {
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
}

@media (min-width: 340px) and (max-width: 1200px) {
  .forma-parte {
    height: auto;
    width: 70%;
    align-self: center;
  }
  .forma-parte__link {
    width: 60%;
    align-self: center;
  }
  .familias {
    width: 95%;
    height: auto;
    margin: auto;
    overflow: auto;
  }
  .familias h3 {
    margin: 20px;
    padding: 0;
  }
  .familias__adopcion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin: auto;
    transition-delay: none;
  }
  .familias__adopcion div {
    display: flex;
    width: auto;
    height: auto;
  }
}
@media (max-width: 500px) {
  .familias__adopcion {
    display: flex;
    flex-direction: column;
  }
}
#carouselExampleIndicators {
  max-width: 600px;
}

@media (min-width: 340px) and (max-width: 1200px) {
  .carousel.carousel.slide.fam {
    width: 70%;
  }
}
.div_flecha-arriba {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100px;
  margin-right: 10px;
  margin-left: auto;
}

.flecha-arriba {
  border: #5B4E77 solid;
  border-radius: 100px;
  margin: 15px;
  align-self: center;
  box-shadow: black 10px 10px 80px;
}

.btn:hover {
  border: #5B4E77 solid;
  box-shadow: #5B4E77 2px 2px 5px;
  transition: 0.2s;
}

@media (max-width: 600px) {
  .flecha-arriba {
    width: 40px;
    height: 40px;
  }
}
#form_enviar_btn {
  height: auto;
  width: 100px;
  background-color: rgba(180, 173, 234, 0.8431372549);
  border: #0E7C7B solid;
}

.footer {
  background-color: #44344F;
  height: 30%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

footer a:link {
  color: rgba(212, 244, 221, 0.6235294118);
}
footer a:visited {
  color: rgba(212, 244, 221, 0.6235294118);
}
footer ul {
  list-style: none;
  margin: 20px;
  padding: 10px;
}
footer ul li {
  margin: 10px;
  padding: 5px;
}
footer i {
  color: rgba(212, 244, 221, 0.6235294118);
  padding: 10px;
}
footer iframe {
  width: 20%;
  height: 100px;
}

@media (min-width: 340px) and (max-width: 1200px) {
  footer div ul {
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }
  footer li {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  iframe {
    width: 30%;
  }
}
@media (max-width: 500px) {
  iframe {
    display: none;
  }
}
.quienes__somos--img3 {
  max-width: 300px;
}

.marcas__ayuda {
  background-color: rgba(180, 173, 234, 0.8431372549);
  border-radius: 20px;
  border: rgba(68, 52, 79, 0.4039215686) solid;
  width: 80%;
}
.marcas__ayuda--img {
  max-width: 120px;
  padding: 10px;
  justify-content: space-between;
}

.adopcion {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.adopcion__tarjeta {
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  background: linear-gradient(45deg, rgba(14, 124, 122, 0.603) 0%, rgba(180, 173, 234, 0.6) 69%, rgba(91, 78, 119, 0.6) 100%);
  box-shadow: 2px 1px 20px #090446;
  animation-name: tarjetas;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.adopcion__tarjeta img {
  width: 250px;
  height: 180px;
  align-self: center;
}
@keyframes tarjetas {
  0% {
    transform: rotate(0deg);
    transform: translate(100px);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.adopcion__tarjeta h3 {
  font-family: "Rubik", sans-serif;
}
.adopcion__tarjeta p {
  text-align: justify;
  margin: 10px;
}
.adopcion__tarjeta a {
  align-self: center;
  border: #5B4E77 solid;
  background-color: #5B4E77;
  color: rgba(212, 244, 221, 0.6235294118);
  margin: 10px;
  padding: 5px;
}
.adopcion__tarjeta a:hover {
  font-size: 1rem;
  font-style: italic;
  color: #5B4E77;
  background-color: rgba(212, 244, 221, 0.6235294118);
  box-shadow: 4px 3px 8px #090446;
  transition: 0.2s;
}

.tarjeta-1 {
  transform: rotate(10deg);
  transition: 0.2s;
}
.tarjeta-1-2 {
  transform: rotate(10deg);
  transition: 1s;
  transition-delay: 1s;
}

.form_adopcion {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.form_adopcion div {
  display: flex;
  flex-flow: column;
  width: 200px;
  margin: 10px;
  padding: 5px;
  font-family: "makuta", sans-serif;
  color: #43281C;
}

div.mensaje_adicional {
  width: 80%;
}

div.recibir-noticias {
  display: flex;
  flex-direction: row;
  width: 18%;
  justify-items: center;
  transform: translate(25px);
}

label.adopcion__noticias--label {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
}

@media (min-width: 340px) and (max-width: 1200px) {
  .form_adopcion {
    align-items: flex-start;
  }
  div.recibir-noticias {
    margin: auto;
    width: 95%;
  }
}
.form_contacto {
  display: flex;
  flex-direction: column;
  font-family: "makuta", sans-serif;
  color: #43281C;
  max-width: 600px;
}
.form_contacto div {
  display: flex;
  flex-flow: column;
  width: 80%;
  max-width: 400px;
  margin: 10px;
  padding: 5px;
}
.form_contacto input {
  height: 20px;
  width: 100%;
  max-width: 250px;
}
.form_contacto select {
  height: 20px;
  width: 100%;
  max-width: 250px;
}
.form_contacto .div_noticias {
  display: flex;
  flex-direction: row;
  width: 300px;
}

#form__noticias-si {
  width: auto;
}

.noticias-label {
  font-size: 0.8rem;
}

textarea {
  width: 100%;
}

#mensaje-adicional {
  max-width: 500px;
  max-height: 300px;
}

@media (max-width: 600px) {
  .form_contacto input {
    height: 20px;
    width: 70%;
  }
  .form_contacto select {
    height: 20px;
    width: 70%;
  }
}
.accordion-body {
  background-color: rgba(180, 173, 234, 0.8431372549);
  color: #5B4E77;
}

#desplegable-encabezado {
  background-color: rgba(180, 173, 234, 0.8431372549);
}

button.accordion-button {
  background-color: rgba(180, 173, 234, 0.8431372549);
}

button > i > span {
  color: #5B4E77;
}

.modal-ayuda {
  background-color: rgba(180, 173, 234, 0.5607843137);
  font-size: 1rem;
  font-family: "makuta", sans-serif;
  color: black;
  width: 40%;
  border-radius: 30px;
  border: none;
  box-shadow: #3B0086 2px 2px 5px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.modal-body {
  background-color: rgba(212, 244, 221, 0.6235294118);
}

.modal-footer {
  background-color: rgba(212, 244, 221, 0.6235294118);
}

.modal-header {
  background-color: rgba(180, 173, 234, 0.8431372549);
}

/*# sourceMappingURL=styles.css.map */
