/* ---Reset css--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #d4f4dd9f;


}

a {
    text-decoration: none;

}

a:link {
    color: black;
}

a:visited {
    color: black;
}

p {
    font-family: 'Rubik', sans-serif;
}



/* --- Header Portada --- */


.header-index {
    height: 75vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/img/abrazo-hombre-perro2.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.header__title {

    font-size: 5.1rem;
    font-family: 'Indie Flower', cursive;
    color: #0E7C7B;
    width: auto;
    text-shadow: #D4F4DD 5px 6px 1px;
    font-weight: bold;


}


/* --- NAVBAR / HAMBURGUESA --- */

.cuatro-patas-nav :hover {
    color: red}

.navbar.fixed-top {
    background-color: #b4adead7;
}

.nav-bar {
    background-color: #d4f4ddd2;


}


.nombre-page {
    font-family: 'antonio', cursive;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.navbar-toggler {
    border: none;
}

.nav-item {
    font-family: 'Antonio', sans-serif;
    font-size: 1.3rem;
}

.nav-item :hover {
    color: #0E7C7B;
}

.offcanvas-header {
    background-color: #3a00866d;
}

.offcanvas-body {
    background-color: #D4F4DD;
}

/* --- Donacion --- */

.donacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0px;
    font-style: italic;
    font-size: 1rem;



}



.donacion__background {
    background-color: #0E7C7B;
    padding: 5px;
    width: 700px;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    font-size: 1rem;
    color: #D4F4DD;
    font-family: 'Mukta', sans-serif;
    border-radius: 600px 5px / 50px 30px;
    border: #44344F;
    border-color: 43281C;
    line-height: 25px;
}

h4 {
    margin: 10px;
    text-decoration: underline;
}

.modal-ayuda{
    background-color: #b4adea8f;
    font-size: 1rem;
    font-family: 'mukta', sans-serif;
    color: black;
    width: 40%;
    border-radius: 30px;
    border: none;
    box-shadow: #3B0086 2px 2px 5px;
    
}
/* --- Section - ¿Porque Adoptar? ---*/

.porque__adoptar{
    width: 80%;
}

.imagen-index {
    margin: auto;
    width: 50%;
    max-width: 400px;
}

.text-justify {
    text-align: justify;
}

h2 {

    font-size: 2.5rem;
    color: #5B4E77;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 15px;
    margin: 0 40px;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}

h2 span {
    transform: translate(5%);

}

hr {
    background-color: #B4ADEA;
    width: 80%;
    margin: auto;
    height: 5px;
}


/* --- FORMA PARTE DE CUATRO PATAS --- */

.forma-parte {
    width: 30%;
    height: auto;
    margin: 150px auto;
    border: 1px #B4ADEA solid;
    box-shadow: #B4ADEA 0px 0px 30px 30px;
    background-color: #B4ADEA;
    border-radius: 20%;
    display: flex;
    flex-direction: column;

}

.forma-parte__title {
    text-align: center;
    width: 90%;
    align-self: center;
    font-size: 1.2rem;
    color: #D4F4DD;

}

.forma-parte__text {
    text-align: center;
    margin: 8px auto;
    width: 80%;
    font-size: 1rem
}

.forma-parte__link {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    border: #44344F solid;
    width: 30%;
    align-self: center;

}

.forma-parte__link span {
    color: #D4F4DD;
}


/* --- Section - Eligieron adoptar --- */

.familias {
    margin: 10px auto 10px auto;
    width: 80%;


}

h3 {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: #5B4E77;
    padding: 15px;

}

.familias__h3 {
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
}

.familias__adopcion {
    display: flex;
    width: 100%;
    height: 40%;
    flex-wrap: nowrap;
    justify-content: center;

}

.carousel {
    margin: 50px;
}

.carousel.slide.fam {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;

}

.carousel-inner {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;

}

.carousel-item.active {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.familias__adopcion--img1 {

    border-radius: 20%;
    width: 540px;
    height: 400px;
    object-fit: contain;

}

.familias__adopcion--img2 {

    border-radius: 20%;
    width: 540px;
    height: 400px;
    ;
}

.familias__adopcion--img3 {

    border-radius: 20%;
    width: 540px;
    height: 400px;
    object-fit: contain;
}

.familias__adopcion--img4 {

    border-radius: 20%;
    width: 540px;
    height: 400px;
    object-fit: contain;
}

.familias__adopcion--img5 {

    border-radius: 20%;
    width: 540px;
    height: 400px;
    object-fit: contain;
}

.familias__adopcion--img6 {

    border-radius: 20%;
    width: 600px;
    height: 500px;
    object-fit: contain;

}


/* --- Boton fijo para ir a arriba de la pagina ---  */

.div_flecha-arriba {
    position: sticky;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.flecha-arriba {
    border: solid;
    border-radius: 100px;
    margin: 20px;
    background-color: #B4ADEA;
    align-self: center;

}




/* --- Footer --- */

.footer {
    background-color: #44344F;
    height: 30%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;


}

footer a:link {
    color: #D4F4DD;
}

footer a:visited {
    color: #D4F4DD;
}

footer ul {
    list-style: none;
    margin: 20px;
    padding: 10px;
}

footer ul li {
    margin: 10px;
    padding: 5px;

}

footer i {
    color: #D4F4DD;
    padding: 10px;

}

iframe {
    width: 20%;
    height: 100px;
}

/* --- PAGIONA "QUIEN SOMOS" --- */

/* --- MISION // VISION // VALORES --- */


.quien__somos--img{
width: 100%;
object-fit: contain;
}

.quienes__somos--img2{
    object-fit: contain;
    width: 50%;
    

}

.quienes__somos--img3 {
    max-width: 300px;

}


.marcas__ayuda{
background-color: #B4ADEA;
border-radius: 20px;
border: #44344f67 solid;
width: 80%;

}

.marcas__ayuda--img {
max-width: 120px;
padding: 10px;
justify-content: space-between;

}

/* --- Adopción // Tarjetas --- */

.adopcion {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

}



.adopcion_tarjeta img {
    width: 250px;
    height: 180px;
    align-self: center;

}


.adopcion_tarjeta {

    display: flex;
    flex-flow: column;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    background: linear-gradient(45deg, rgba(14, 124, 122, 0.603) 0%, rgba(180, 173, 234, 0.6) 69%, rgba(91, 78, 119, 0.600) 100%);

    box-shadow: 2px 1px 20px #090446;
}



.adopcion_tarjeta h3 {
    font-family: 'rubik', sans-serif;
}

.adopcion_tarjeta p {

    text-align: justify;
    margin: 10px;
}

.adopcion_tarjeta a {
    align-self: center;
    border: #5B4E77 solid;
    background-color: #5B4E77;
    color: #D4F4DD;
    margin: 10px;
    padding: 5px;

}

.adopcion_tarjeta a:hover {
    font-size: 1rem;
    font-style: italic;
    color: #5B4E77;
    background-color: #D4F4DD;
    box-shadow: 4px 3px 8px #090446;

}



/*  --- FORMULARIO DE ADOPCION --- */
.form_adopcion {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: auto;

}

.form_adopcion div {
    display: flex;
    flex-flow: column;
    width: 200px;
    margin: 10px;
    padding: 5px;
    font-family: 'mukta', sans-serif;
    color: #43281C;

}

div.mensaje_adicional {
    width: 80%;

}


div.recibir-noticias {
    display: flex;
    flex-direction: row;
    width: 18%;
    justify-items: center;

    transform: translate(25px);

}

label.adopcion__noticias--label {

    width: 100%;
    padding: 10px;
    /* justify-self: center; */
    font-size: 0.8rem;

}


/* --- DATOS UTILES --- */


.datos_utiles {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    grid-template-areas:
        "donacion"
        "zoonosis"
        "veterinaria"
        "peluqueria"
        "guarderia";

}

.donacion__datos-utiles {
    grid-area: donacion;
    grid-column: 1/5;
    width: 800px;
    height: 200px;
    margin: 30px auto;
    background-color: #B0A1BA;
    line-height: 30px;
    border: #3B0086 solid;
    border-radius: 500px 10px / 80px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #090446
}

.donacion__datos--h4 {
    margin: 10px;

}

.donacion__datos--p span {
    text-decoration: underline;

}

.zoonosis {
    grid-area: zoonosis;
    grid-column: 3/5;
    width: 800px;
    height: 200px;
    margin: 30px auto;
    background-color: #B0A1BA;
    line-height: 30px;
    border: #3B0086 solid;
    border-radius: 90px 900px / 80px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    overflow-y: auto;
    color: #090446
}

.zoonosis-h4 {
    margin: 10px;
}

.zoonosis-img {
    grid-column: 2;
}

.veterinaria {
    grid-area: veterinaria;
    grid-column: 1/2;
    width: 800px;
    height: 200px;
    margin: 30px auto;
    background-color: #B0A1BA;
    line-height: 30px;
    border: #3B0086 solid;
    border-radius: 400px 55px / 40px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    overflow-y: auto;
    margin-left: 10px;
    color: #090446
}

.veterinaria-h4 {
    margin: 10px;
}

.veterinaria-img {
    grid-column: 4;
}

.peluqueria {
    grid-area: peluqueria;
    grid-column: 4;
    width: 600px;
    height: 200px;
    margin: 30px auto;
    background-color: #B0A1BA;
    line-height: 30px;
    border: #3B0086 solid;
    border-radius: 90px 900px / 80px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    overflow-y: auto;
    color: #090446
}

.peluqueria-h4 {
    margin: 10px;
}

.peluqueria-img {
    grid-column: 3;
}

.guarderia {
    grid-area: guarderia;
    grid-column: 2/5;
    width: 680px;
    height: 200px;
    margin: auto;
    border: #3B0086 solid;
    border-radius: 800px 50px / 50px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    overflow-y: auto;
    color: #090446;
    background-color: #B0A1BA;
    line-height: 30px;

}

.guarderia-h4 {
    margin: 10px;
}

input {
    border-radius: 5px;
}

/* --- CONTACTO --- */

.form_contacto {
    display: flex;
    flex-direction: column;

    font-family: 'makuta', sans-serif;
    color: #43281C;
}

.form_contacto div {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 10px;
    padding: 5px;
}

.form_contacto input {
    height: 20px;
    width: 30%;
}

.form_contacto select {
    height: 20px;
    width: 30%;
}

#form_enviar_btn {
    height: auto;
    width: 100px;
    background-color: #B4ADEA;
    border: #0E7C7B solid ;
}


.form_contacto .div_noticias {
    display: flex;
    flex-direction: row;
    width: 300px;

}

#form__noticias-si {
width: auto;
}

.noticias-label{
    font-size: 0.8rem;
}


@media (min-width:340px) and (max-width:1200px) {


    header {
        flex-direction: column;
    }

    .donacion__background {
        width: 90%;
        max-width: 700px;
    }

    .porque__adoptar {
        height: 100%;
        margin-bottom: 50px;

    }

    .porque__adoptar--article {
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: auto;
    }

    .porque__adoptar--article p {
        font-size: 1rem;
        line-height: 20px;
        width: 100%;
    }

    .porque__adoptar--img2 {
        width: 50%;
        height: 10%;
        margin: 20px auto;
        ;

    }

    .forma-parte {
        height: auto;
        width: 70%;
        align-self: center;
    }

    .forma-parte__link {
        width: 60%;
        align-self: center;

    }

    .familias {

        width: 95%;
        height: auto;
        margin: auto;
        overflow: auto;

    }

    .carousel.carousel.slide.fam {
        width: 70%;
    }

    .familias h3 {
        margin: 20px;
        padding: 0;



    }

    .familias__adopcion {
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex-wrap: wrap;
        margin: auto;
        transition-delay: none;


    }

    .familias__adopcion div {
        display: flex;
        width: auto;
        height: auto;
    }


    .familias__adopcion--img1 {
        width: 99.5%;
        height: 99.5%;
        margin: auto;


    }

    .familias__adopcion--img2 {
        width: 99.5%;
        height: 99.5%;
        margin: auto;


    }

    .familias__adopcion--img3 {
        width: 100%;
        height: 100%;
        margin: auto;


    }

    .familias__adopcion--img4 {
        width: 100%;
        height: 100%;
        margin: auto;


    }

    .familias__adopcion--img5 {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .familias__adopcion--img6 {
        display: none;
    }

    .form_adopcion {
        align-items: flex-start;

    }


    div.recibir-noticias {
        margin: auto;
        width: 95%;

    }


    footer div ul {
        margin: 0;
        padding: 0;
        align-self: flex-start;

    }

    footer div ul li {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    footer iframe {
        width: 30%;
        ;
    }
}

@media (max-width:600px) {
    footer div ul li {
        font-size: 0.7rem;
    }

    .flecha-arriba {
        width: 40px;
        height: 40px;
    }

    .form_contacto input {
        height: 20px;
        width: 70%;
    }

    .form_contacto select {
        height: 20px;
        width: 70%;
    }
}

@media (max-width:500px) {
    iframe {
        display: none;
    }

    .familias__adopcion {
        display: flex;
        flex-direction: column;
    }
}

