$color-principal: #d4f4dd9f;

$color-secundario: #b4adead7;

$color-terciario: #5B4E77;

$color-navbar-hover: #0E7C7B ;

$font-navbar: 'Antonio', sans-serif;

$texto-1:'Rubik', sans-serif;

$texto-2:'makuta', sans-serif;

$Texto-title: 'Quicksand', sans-serif;

