.form_contacto {
    display: flex;
    flex-direction: column;
    font-family: $texto-2;
    color: #43281C;
    width: 100%;

    & div {
        display: flex;
        flex-flow: column;
        width: 80%;
        max-width: 800px;
        margin: 10px;
        padding: 5px;
    }

    & input {
        height: 20px;
        width: 100%;
        max-width: 300px;
    }

    & select {
        height: 20px;
        width: 100%;
        max-width: 400px;
        
    }

    & .div_noticias {
        display: flex;
        flex-direction: row;
        width: 300px;

    }

}

#form__noticias-si {
    max-width: 15px;
}

.noticias-label {
    font-size: 0.8rem;
}

textarea {
    width: 100%;
}

#mensaje-adicional {
    max-width: 500px;
    max-height: 300px;
}

.iframe-contacto {
    width: 80%;
    height: 400px;
}

.recibir-noticias{
width: 80%;
min-width: 300px;


}
@media (max-width:600px) {

    .form_contacto {
        input {
            height: 20px;
            width: 70%;
        }

        & select {
            height: 20px;
            width: 70%;
        }
    }

    .iframe-contacto {
        width: 80%;
        height: 300px;
        display: block;
    }
}