/* --- NAVBAR / HAMBURGUESA --- */
nav div.container {
    background-color: $color-principal;
}


.navbar.fixed-top {
    background-color: $color-secundario;
}

.nombre-page {
    font-family: $font-navbar;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);

}

.nav {


    &-item {
        font-family: $font-navbar;
        font-size: 1.3rem;
    }

    &-item :hover {
        color: $color-navbar-hover;
    }

}

.navbar-toggler {
    border: none;
}


.offcanvas-header {
    background-color: $color-secundario;
}

@media (max-width:991px) {

    .offcanvas-body {
        background-color: $color-principal;
    }

}