/* --- NAVBAR / HAMBURGUESA --- */

.navbar.fixed-top {
    background-color: #b4adead7;
}

.nombre-page {
    font-family: 'antonio', cursive;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    
}

.nav {
    &-bar {
        background-color: #d4f4ddd2;
    
    }


    &-item {
        font-family: 'Antonio', sans-serif;
        font-size: 1.3rem;
    }

    &-item :hover {
        color: #0E7C7B;
    }

}

.navbar-toggler {
    border: none;
}


.offcanvas {

    &-header {
        background-color: #3a00866d;
    
    &-body{
        background-color: #0E7C7B;
    }

}
}

.offcanvas-body {
    background-color: #d4f4ddd2;
}

